#profile{
  
  width: 100%;
  min-height: calc(82vh - 10vh);
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;


  #settings{

    .settings-container{
      width: 400px;
      display: block;
      margin: 20px auto;
    }

    .display-picture-wrapper{
      width: 150px;
      height: 150px;
      margin: 0 auto;
    }

    .display-picture-wrapper > label{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      cursor: pointer;
    }

    .display-picture-img-wrapper{
      position: relative;
      width: 100%;
    }

    .display-picture-img-wrapper > .icon-wrapper{
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(244, 244, 244);
      border-radius: 50%;
    }

    .display-picture-img-wrapper > .icon-wrapper > svg{
      color: #000;
      width: 20px;
      height: 20px;
    }
    
    .display-picture-img-wrapper > .icon-wrapper > svg:hover{
      color: #616161;
    }

    .display-picture-img-wrapper > img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    .display-picture-wrapper > label input[type='file']{
      cursor: pointer;
      display: none;
    }
  
    fieldset {
      border: 1px solid rgb(193, 207, 215);
      padding: 5px 10px;
      border-radius: 5px;
      margin: 15px 0;
    }
    
    fieldset > legend{
      float: none;
      width: auto;
      font-size: 1.2rem;
      color: rgb(29, 130, 29);
    }
  
    fieldset > input{
      border: none;
      outline: none;
      font-size: 1rem;
      width: 100%;
      display: block;
      height: 30px;
    }

    input[type='submit']{
      border: none;
      outline: none;
      color: white;
      opacity: 0.7;
      font-size: 1rem;
      font-weight: 600;
      background-color:rgb(0, 167, 0) !important; 
    }
  }

  .container-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    margin: 0 auto;
    grid-gap: 20px;
  }

  .left-container{
    margin: 0 0 auto 0;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 0 0 0;
    width: 100%;
    // background-color: red;


    .profile-container{
      border-bottom: 4px solid rgb(187, 207, 207);
    }

    .profile-picture-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    .profile-picture{
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    .name{
      font-weight: 600;
      font-size: 1.5em;
      color: #000;
      opacity: 0.2;
      font-family: 'Roboto', sans-serif;
    }

    .phone-number{
      font-weight: 500;
      font-size: 1.2em;
      color: #000000;
      opacity: 0.5;
    }

    .menu-wrapper{
      height: 70px;;
      display: flex;
      align-items: center;
      padding: 15px 25px;
      color: #000;
      cursor: pointer;
      border-bottom: 1px solid rgb(203, 213, 213);
    }

    .menu-wrapper:hover{
      color: rgb(13, 163, 30);
      background-color: rgb(244, 241, 241);
      opacity: 0.8;
      transition: all ease-in-out 0.31s
    }

    .icon-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .icon-wrapper > .icon{
      color: inherit;
      width: 1.1rem;
      height: 1.1rem;
    }

    .menu-wrapper > span{
      font-size: 1rem;
      font-weight: 600;
      margin: auto 0 auto 15px ;
      color: inherit;
    }
  }

  .right-container{
    grid-column: span 9;
    display: flex;
    flex-direction: column;
    
    header{
      display: flex;
      align-items: center;
      padding: 15px;
      justify-content: space-between;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
    }

    .header-text-wrapper > h2{
      margin: 0;
      font-size: 1.7rem;
      font-weight: bold;
    }

    .data-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .data-wrapper > .adverts-wrapper{
      display: flex;
      margin: 0 10px;
      align-items: center;
      padding: 10px 25px 10px 20px;
      justify-content: space-between;
      opacity: 0.4;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      background-color:rgb(0, 167, 0) !important; 
    }

    .icon-wrapper{
      margin-right: 5px;
    }

    .count-wrapper{
      background-color: transparent;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid lightblue;
      margin-left: 5px;
    }

    .ad-wrapper{
      cursor: pointer;
      max-height: 180px;
      height: 180px;
      display: flex;
      border-radius: 3px;
      width: 100%;
      margin: 20px 0 0 0;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.19);
    }

    .img-container{
      flex-basis: 30%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .img-wrapper{
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
    }

    .img-wrapper > img{
      max-height: 100% !important;
      height: 180px;
      width: 100%;
      object-fit: contain;
    }

    .info-container{
      flex-basis: 60%; 
      overflow: hidden !important;
      width: 100% !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .info-container > .name{
      font-family: 'Roboto', sans-serif;
      overflow: hidden !important;
      font-weight: 600;
      font-size: 1.2rem;
      width: 100% !important;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis !important;
      letter-spacing: 0.03em;
    }

    .info-container > .price{
      color: black;
      font-size: 1.1rem;
      letter-spacing: 0.03em;
      font-weight: 600;
      margin: 20px 0;
    }

    .info-container > .date{
      color: black;
      font-size: 1.1rem;
      letter-spacing: 0.03em;
      font-weight: 600;
      opacity: 0.6;
    }

    .action-container{
      flex-basis: 10%;
      display: flex;
      justify-content: end;
      align-items: end;
      height: 100% !important;
    }

    .action-container > .action-wrapper > button{
      display: flex;
      margin: 20px;
      align-items: center;
      justify-content: center;
      width: 100px;
      opacity: 1;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      background-color: red;
    }

    .action-container > .action-wrapper > button:hover{
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
    }
  }



  @media screen and (max-width: 992px){
    .profile-picture{
      width: 90px !important;
      height: 90px !important;
    }
    .name{ font-size: 1.2em !important }
    .phone-number{ font-size: 1em !important }

    .ad-wrapper{
      max-height: 150px !important;
      height: 150px !important;
    }

    .img-wrapper > img{
      height: 150px !important;
    }

  }

  @media screen and (max-width: 769px){
  min-height: calc(81vh - 10vh);

    .hide{ display: none }
    .data-wrapper > .adverts-wrapper{
      padding: 3px 10px 3px 10px !important;
      opacity: 0.4;
      background-color:rgb(0, 167, 0) !important; 
    }
    .profile-picture{ width: 200px !important; height: 200px !important}
    .container-row{ width: 100%  }
    .left-container, .right-container{ grid-column: span 12 }
    .header-text-wrapper > h2{ font-size: 1.2rem }
    .name{ font-size: 1em !important }
    .phone-number{ font-size: .9em !important }
    .ad-wrapper{ max-height: 120px !important; height: 120px !important }
    .img-wrapper > img{ height: 120px !important }

    .arrow-icon-wrapper > svg{
      width: 27px;
      height: 27px;
      color: #000;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 500px){
    .ad-wrapper{
      flex-direction: column;
      margin: 10px 0 0 0;
      min-height: 380px !important;
      min-height: 380px !important;
    }
    .profile-picture{ width: 150px !important; height: 150px !important}
    .img-wrapper > img{ height: 200px !important; width: 100%; object-fit: contain !important }
    .info-container{ margin-top: 10px }
    .info-container > .price{ font-size: 1.2rem !important; margin: 10px 0 !important }
    .action-container{ justify-content: start !important }
    .action-container > .action-wrapper > button{ margin: 0 0 10px 10x !important }
    .settings-container{ width: 100% !important }
  }

  @media screen and (max-width: 361px){
    .profile-picture{ width: 100px !important; height: 100px !important}
  }
  
}

