#register{
  font-family: 'Roboto', sans-serif !important;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: white;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .register-wrapper{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .create-account-text{
    width: 100%;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 29px;
    color: #071E2B;
    text-align: center;
    letter-spacing: 0.05em;
  }

  form{
    width: 100%;
    padding: 30px;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  input, select{
    outline: none;
    border-radius: 3px;
    height: 50px;
    border: 1px solid rgb(227, 231, 232);
    border-radius: 5px;
    padding: 10px;
    color: #000000;
    width: 100%;
  }

  .submit-btn{
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    background:#01A185;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
  }

  .login-text{
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #6D6D6D;
    text-align: center;
  }

  input::placeholder{
    display: none;
  }

  @media screen and (max-width: 768px){
    width: 100%;

    .register-wrapper{
      width: 95%;
    }

    form{
      padding: 20px 15px !important;
      box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

}