#footer{
  background-color:#047878;
  color: #fff;
  z-index: 1000 !important;

  strong > span{
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.03em;
    color:  #fff;
  }

  strong{
    font-family: 'Leckerli One', cursive;
    color: #fff;
    font-size: 2.5rem;
  }

  footer{
    padding: 30px 0;
  }

  .icons-container{
    display: flex;
    justify-content: center;
  }

  .icon-wrapper{
    margin: 0 10px 5px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    color: #fff
  }

  .icon-wrapper:hover{
    opacity: 0.4;
    transition: all 1s ease;
  }

  .icon{
    color: inherit;
    font-size: 1em;
  }

  .copyright{
    text-align: center;
    margin-top: 10px;
    opacity: 0.8;
  }

  .terms-wrapper{
    margin-top: -10px;
  }

  .terms{
    text-decoration: none;
    color: inherit !important;
    opacity: 0.8;
  }

  .terms:hover{
    text-decoration:  underline;
    transition: all 1s ease;
  }

}

#footer-top{
  background-color:#047878;
  color: #fff;

  .footer-top-container{
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgb(99, 128, 127);
  }

  strong > span{
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.03em;
    color:  #fff;
  }

  strong{
    font-family: 'Leckerli One', cursive;
    color: #fff;
    font-size: 2.5rem;
  }

  .text{
    width: 100%;
    text-align: justify;
    letter-spacing: 0.03em;
    font-size: 0.9rem;
    line-height: 28px;
    color: #fff;
  }

  .footer-links-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
  }

  .link-wrapper{
    grid-column: span 3;
    margin: 10px 0;
  }

  .link{
    margin-left: 1px;
    text-decoration: none;
    color: inherit !important;
    opacity: 0.8;
  }

  .link:hover{
    text-decoration: underline;
  }

  .link > .link-icon{
    color: #fff !important;
  }


  @media screen and (max-width: 768px) {
    .link-wrapper{
      grid-column: span 4;
    }

    .footer-links-container{
      grid-gap: 5px;
    }
  }

  @media screen and (max-width: 485px) {
    .footer-links-container{
      grid-gap: 0px;
    }

    .link-wrapper{
      grid-column: span 6;
    }

  }
}