#herobanner{
  width: 100%;
  min-height:350px;
  // background: url('../../assets/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 10vh;
  
  .herobanner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 320px;
  }

  .herobanner-header{
    font-size: 2.8em;
    color: white;
    width: 95%;
    text-align: center;
    line-height: 36px;
    margin-bottom: 10px;
    font-weight: 600;
    opacity: 0.8
  }


  .herobanner-text{
    font-size: 1.35em;
    width: 95%;
    text-align: center;
    color: white;
    font-weight: 500;
    margin-top: 15px;
  }

  .post-free-ad-link{
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px;
    background-color: #f3c500;

    .btn{
      color: #fff;
      font-size: 1.1em;
      font-weight: 500;
    }

    &:hover{
      background:#01A185;
    }
  }

  @media screen and (max-width: 768px) {
    .herobanner-header{
      font-size: 2.2em;
    }

    .herobanner-text{
      font-size: 1.35em;
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 480px) {
    .herobanner-header{
      font-size: 1.7rem;
    }

    .herobanner-text{
      font-size: 1.1em;
      margin-top: 15px;
    }
  }

}

