.why-we-are-unique{
  margin: 40px 0;
  width: 100%;

  & > h4{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    font-weight: 600;
    
    // opacity: 0.8;
  }

  & > h4::after{
    content: '';
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 5px 0 !important;
    border-bottom: 2px solid #f3c500 !important;
    margin-bottom: 20px;
  }
  
  & > p{
    margin-top: 10px;
    width: 99%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0.9;
  }

  .unique-details{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }

  .details-wrapper{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details-wrapper > h4{
    font-weight: 600;
    opacity: 0.9;
    text-align: center;
    color: #fff;
  }

  .details-wrapper > span{
    font-weight: lighter;
    letter-spacing: 0.05em;
    color: #fff;
    width: 85%;
    font-size: 1.1rem;
    opacity: 0.8;
  }

  .fa{
    color: lightseagreen;
    font-size: 5rem;
    width: 100px;
    height: 100px;
  }

  .fa:hover{
    opacity: 0.5;
    transition: opacity 1.5 ease;
  }

  .icon-2{
    color: lightcoral
  }

  .icon-3{
    color: #c119ce
  }


  @media screen and (max-width: 768px) {
    & > h4{
      font-size: 2.4rem;
      font-weight: 600;
    }
  
    & > h4::after{
      content: '';
      width: 100px;
      display: block;
      margin: 0 auto;
      padding: 7px 0;
      border-bottom: 3px solid #01a185;
      margin-bottom: 20px;
    }
    .details-wrapper{
      grid-column: span 12;

    }
  }

  @media screen and (max-width: 480px) {
    & > h4{
      font-size: 2rem;
    }
  }
}